doctype
html
  head
    link(rel="stylesheet" href="/css/main.css")
  body
    h1 Luiz do Céu
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
